*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #151419;
    color:snow;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.frag-c{
    background-color: #797979;
    max-width: 600px;
    max-height: 600px;
    display:flex;
    gap:4rem;
    border-radius: 10px;
}
